body {
    margin: 0;
    font-family: "Lato", sans-serif;
    text-align: center;
    background-color: #333;
    color: white;
    padding-top: 72px;
}
header {
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    background-color: #222;
    top: 0;
}
#header-logo {
    height: 48px;
    padding: 8px;
    background-color: black;
    border-radius: 8px;
    margin-right: 16px;
}
header p {
    font-size: 40px;
    margin: 0;
    color: white;
}
#screenshot {
    max-width: calc(100% - 64px);
    width: 900px;
    padding: 32px;
}
h1 {
    font-weight: 400;
    font-size: 64px;
}
p {
    font-size: 24px;
}
.btn-link {
    text-decoration: none;
    color: white;
    padding: 16 24px;
    border-radius: 200px;
    background-color: #494;
    font-size: 24px;
    text-transform: uppercase;
}
.testimony {
    margin: 64px auto 16px auto;
    padding: 8px;
    max-width: 700px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #222;
    font-size: 36px;
}